body {
  font-size: 125%;
  font-family: $bodyFont;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

// **********************
// ***** TYPOGRAPHY *****
// **********************
form {
    p {
        font-family: $searchFont;
        font-weight: 500;
        font-size: 0.85rem;
        letter-spacing: 0.03rem;
    }
}

.error {
  display: flex;
  margin: 0 auto;
  flex-direction: column;;
  position: relative;
  width: 100%;
  align-items: center;

  .errorMessage {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }
  
  h1, .errorHints {
    width: 80%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 15px;
  }

  .errorHints {
    bottom: 0;

  }
}