body {
    font-size: 125%;
}

img {
    height: 100%;
    width: 100%;
}

// **********************
// ***** TYPOGRAPHY *****
// **********************
form {
    p {
        font-family: $bodyFont;
        font-weight: 700;
        font-size: 0.85rem;
    }
}