// Event Detail Styles

.eventDetails {
  width: 100%;
  padding: 4rem 0;
  background-color: white;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    width: 75%;

    .title {
      padding: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      background: linear-gradient(#c7e7ff, #d3cfe6);
      min-height: 42vh;
      .titleLeft {
        width: 40%;
        h2 {
          margin-bottom: 1rem;
          font-weight: 500;
          width: 95%;
        }
        h5 {
          margin-bottom: 0.5rem;
        }
        p {
          margin-bottom: 1.5rem;
        }
      }

      .rightSide {
        position: relative;
        // background-color: red;
        width: 60%;
        .img {
          position: absolute;
          right: 0;
          top: 0;
          min-width: 100%;

          img {
            border-radius: 5px;
          }
        }
      }
    }

    .titleBottom {
      padding: 2rem;
      width: 100%;
      display: flex;
      background-color: lightblue;

      
      .titleText {
        width: 50%;
        gap: 1.2rem;
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          align-items: center;
          gap: 1rem;
          .icons {
            width: 2rem;
          }
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;
      gap: 1rem;
      min-height: 15vh;

      .formUser {
        display: flex;
        flex-direction: column;
        input {
          font-size: inherit;
          font-family: inherit;
          width: 116%;
        }

        label {
          font-size: 0.7rem;
          margin-bottom: 0.3rem;
        }
        &.inputOff {
          pointer-events: none;
          color: grey;
          opacity: 0.3;
        }
      }
      .formConditional {
        align-self: start-end;
        .createEventButton {
          width: 8rem;
          padding: 0.9rem;
          // height: 2.5rem;
          border: none;
          background-color: $lightBlue;
          border-radius: 5px;
          opacity: 1;
          transition: all 0.25s ease-in-out;
          color: white;
          font-family: inherit;
          font-size: 0.9rem;
          cursor: pointer;

          &:hover,
          &:focus {
            opacity: 0.8;
          }

          &.buttonOff {
            opacity: 1;
            pointer-events: none;
            background-color: grey;
          }
        }

        .buttonLink {
          padding: 0.85rem 1.6rem;
          border: none;
          background-color: $lightBlue;
          border-radius: 5px;
          opacity: 1;
          transition: all 0.25s ease-in-out;
          color: white;
          font-family: inherit;
          font-size: 0.9rem;
          text-decoration: none;
          text-align: center;

          &:hover,
          &:focus {
            opacity: 0.8;
          }
        }
      }
    }

  }
}
