// *******************
//      TABLETS
// *******************

@media (max-width: 1024px) {
  
  // ***** Header *****
  // ******************

}


@media (max-width: 930px) {
  // ***** Personal Event Hub *****
    // ******************
    .personalHub {
      .catalogue {
        li {
          width: 70%;
          height: fit-content;
        }
      }

      .eventContent {
        width: 100%;
        height: 100%;
      }
      
      .personalEventImg {
        height: fit-content;
      }
    }
}

// *******************
//     LARGE MOBILE
// *******************
@media (max-width: 768px) {

  // ***** Header *****
  // ******************

  .searchStartDate,
  .searchEndDate {

    .react-date-picker.react-date-picker--closed.react-date-picker--enabled {
      padding: 0;
    }

  }
}

// *******************
//     SMALL MOBILE
// *******************
@media (max-width: 450px) { 

  // ***** Header *****
  // ******************

}