.personalHub {
    box-sizing: border-box;
    color: $darkBlue;
    background-color: white;
    
    .catalogue {
        background-color: white;
        border: 1px solid $darkBlue;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    
        li {
        display: flex;
        flex-direction: column;
        // align-items: space-between;
        }

        p {
            font-size: 1.8rem;
            font-family: $bodyFont;
            text-align: center;
            margin: 5px 0 10px 0;
            font-style: italic;
        }
    }
    
    .eventContent {
        width: 450px;
        border: 2px solid $darkBlue;
        border-radius: 5px;
    }

    .wrapper {
        max-width: 1280px;
        width: 80%;
        margin: 0 auto;
    }

    h3 {
        font-size: 3.5rem;
        font-family: $headingFont;
        text-align: center;
        background-color: $mediumBlue;
        margin: 0;
        padding: 50px; 
        text-transform: uppercase;
        text-shadow: 2px 2px 3px $darkBlue;
        color: $whiteBlue;
    }

    h4 {
        width: 450px;
        font-size: 1.5rem;
        margin: 0;
        font-family: $headingFont;
        padding: 0 40px;
        margin-bottom: 15px;
        text-align: center;
        text-shadow: 1px 1px 1px $whiteBlue;
    }
    
    .hubText {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    p {
        text-align: left;

    }

    .personalEventImg {
        width: 450px;
        height: auto;
        object-fit: contain;
        margin: 0;
        display: flex;
        justify-content: center;
        padding: 10px;

        img {
            border-radius: 10px;
        }
    }

}

