.personalHub {
    color: $darkBlue;

    .catalogue {
        background-color: $lightBlue;
        padding: 0;
    
        li {
        padding: 50px;
        display: flex;
        flex-direction: column;
        }

        p {
            font-size: 1.8rem;
            font-family: $bodyFont;
            text-align: center;
            margin: 5px 0 10px 0;
            font-style: italic;
        }
    }
    
    .eventContent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        max-width: 1280px;
        width: 80%;
        margin: 0 auto;
    }

    h3 {
        font-size: 3.5rem;
        font-family: $headingFont;
        text-align: center;
        background-color: $mediumBlue;
        margin: 0;
        padding: 50px; 
        text-transform: uppercase;
        text-shadow: 2px 2px 3px $darkBlue;
        color: $whiteBlue;
    }

    h4 {
        font-size: 3rem;
        margin: 0 auto;
        font-family: $headingFont;
        padding: 0 40px;
        margin-bottom: 15px;
        text-align: center;
        text-shadow: 1px 1px 1px $whiteBlue;
        border: 1px solid $darkBlue;
    }
    
    .hubText {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 30px;
    }

    p {
        text-align: left;

    }

    form {
        font-family: $bodyFont;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input, 
        textarea, 
        button {
            text-align: center;
            border-radius: 7px;
            background-color: $whiteBlue;
            border: none;
            font-family: $bodyFont;
            color: $darkBlue;
        }

        input {
            margin: 10px 0;
            font-size: 1.5rem;
            padding: 7px;
        }
        
        textarea {
            text-align: left;
            padding: 15px;
        }
        
        input::placeholder, 
        textarea::placeholder {
            opacity: 1;
            font-size: 1.2rem;
            font-style: italic;
            font-family: $bodyFont;
            letter-spacing: 0.6px;
        }

        button {
            font-family: $headingFont;
            padding: 6px 20px;
            font-weight: bold;
            margin: 10px 0;
            cursor: pointer;
        }

        input:hover,
        input:focus,
        textarea:hover,
        textarea:focus,
        button:hover,
        button:focus {
            box-shadow: 3px 3px 6px $darkBlue, -3px -3px 6px $darkBlue;
            background-color: white;
            color: $mediumBlue;
        }
    }

    .personalEventImg {
        width: 450px;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
        margin: 0;

        img {
            border: 5px solid $whiteBlue;
            border-radius: 10px;
        }
    }

}

