// Variables
$bgColor: #fbdbbd;
$ulBgColor: #0077b6;

// Fonts
$headingFont: 'Judson', serif;
$bodyFont: 'Lato', sans-serif;

// Colours:
$darkBlue: #012277;
$mediumBlue: #0077B6;
$lightBlue: #00B4D8;
$whiteBlue: #C7E7FF;
$violet: #D3CFE6;
$darkPurple: #260755;
$magenta: #871A3E;
