@import "./partials/setup";
@import "./partials/variables";
@import "./partials/baseStyles";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/personalHub";
@import "./partials/mediaQueries";

.App {
  background-color: $bgColor;
}

// ALLEVENTS.JS
.catalogue {
  background-color: $ulBgColor;
  margin: 0 auto;
  li {
    list-style: none;
    .imgContainer {
      width: 300px;
      height: 300px;
      overflow: hidden;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}

// PERSONALHUB.JS
h3 {
  text-align: center;
}
ul {
  margin: 0 auto;
  li {
    list-style: none;
    P {
      text-align: center;
    }
    .personalEventImg {
      width: 300px;
      height: 300px;
      overflow: hidden;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
}
